.container {
  margin: 0 auto;
  background-color: #DAC9C9;
}
.item {
  float:left;
  width:200px;
  margin:10px; 
  padding:10px;
  margin-bottom:0px;
  border:1px solid #e0e0e0;
  background-color:#f0f0f0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.item .pic{
  width:200px; 
}

.item .text{
  display: inline-block;
  background-color: rgba(221, 213, 213, 0.5);
  padding: 10px;
  width: 180px;
  margin-top: 10px;

}
.item .pic img{
  width: 200px;
}